<div ng-controller="FindMovies">
    <h1>Elokuvahaku</h1>
    <form name="movieSearch" novalidate="novalidate" ng-submit="findMovies()">
        <label>
            <input type="text" name="name" ng-model="name" required>
        </label>
        <label>
            <input type="text" name="year" ng-model="year" integer ng-pattern="/^\d{4}$/">
        </label>
        <button type="submit" ng-disabled="!movieSearch.$valid">Hae</button>
    </form>
    <div ng-show="submitted">
        <h2><ng-pluralize count="movies.length"
                      when="{
                        '0': 'Hakusanalla ei löytynyt elokuvia',
                        'one': 'Haulla löytyi yksi elokuva',
                        'other': 'Haulla löytyi {} elokuvaa'
                        }"></ng-pluralize></h2>
    </div>
    <ul ng-repeat="movie in movies | orderBy: '-Year'">
        <li><a ng-href="http://imdb.com/title/{{ movie.imdbID }}">{{ movie.Title }}</a> ({{ movie.Year }})</li>
    </ul>
</div>