<div ng-controller="UserManagement">
  <div class="container-fluid">
    <h1>Kirjaudu sisään</h1>
    <div ng-show="message">{{ message }}</div>
    <form name="loginForm" novalidate="novalidate" ng-submit="logIn()">
      <div class="form-group">
        <label for="email">Sähköpostiosoite</label>
        <input class="form-control" type="email" name="email" ng-model="email" required ng-pattern="/^\w+\.?\w*@\w*\.\w+$/">
      </div>
      <div class="form-group">
        <label for="password">Salasana</label>
        <input class="form-control" type="password" name="password" ng-model="password" required ng-minlength="8">
      </div>
      <button class="btn btn-primary" type="submit" ng-disabled="!loginForm.$valid">Kirjaudu</button>
    </form>
  </div>
  <div class="container-fluid">
    <h1>Rekisteröidy</h1>
    <div ng-show="message">{{ message }}</div>
    <form name="registerForm" novalidate="novalidate" ng-submit="register()">
      <div class="form-group">
        <label for="newEmail">Sähköpostiosoite</label>
        <input class="form-control" type="email" name="newEmail" ng-model="newEmail" required ng-pattern="/^\w+\.?\w*@\w*\.\w+$/">
      </div>
      <div class="form-group">
        <label for="newPassword">Salasana</label>
        <input class="form-control" type="newPassword" name="newPassword" ng-model="newPassword" required ng-minlength="8">
      </div>
      <div class="form-group">
        <label for="passwordConfirm">Salasana uudestaan</label>
        <input class="form-control" type="password" name=passwordConfirm" ng-model="passwordConfirm" required match="newPassword">
      </div>
      <button class="btn btn-primary" type="submit" ng-disabled="!registerForm.$valid">Rekisteröidy</button>
    </form>
  </div>
</div>
