<div ng-controller="UserManagement">
    <h1>Rekisteröityminen</h1>
    <div ng-show="message">{{ message }}</div>
    <form name="registerForm" novalidate="novalidate" ng-submit="register()">
        <label>Sähköpostiosoite:
            <input type="email" name="email" ng-model="newEmail" required ng-pattern="/^\w+\.?\w*@\w*\.\w+$/">
        </label>
        <label>Salasana:
            <input type="password" name="newPassword" ng-model="newPassword" required ng-minlength="8">
        </label>
        <label>Salasana uudestaan:
            <input type="password" name=passwordConfirm" ng-model="passwordConfirm" required match="newPassword">
        </label>
        <button type="submit" ng-disabled="!registerForm.$valid">Rekisteröidy</button>
    </form>
</div>